name: Deploy game of life
on: 
  push:
    branches:
      - main 
  pull_request:
  workflow_dispatch:
job: 
  Build and Deploy:
    runs on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
  
      - name: setup-JDK-1.8
        uses: actions/setup-java@v4
        with:
            Distribution: 'temurin'
            version: '8'

      - name: Install Maven
        uses: sudo apt install maven -y

      - name: Build Maven
        uses: mvn clean install

      - name: Deploy War to Tomcat
        uses: |
                WAR_FILE=$(ls gameoflife-web/target/*.war| head -n 1)
                APP_NAME=gameoflife
                curl -u "${{ secrets.TOMCAT_USERNAME }}:${{ secrets.TOMCAT_PASSWORD }} \
                --upload-file "$WAR_FILE" \
                  "http://${{ secrets.TOMCAT_HOST }}:8081/manager/text/deploy?path=/$APP_NAME&update=true"
                
                

    - name: 
      
  
    
  
