name: Deploy game of life
on: 
  push:
    branches:
      - main 
  pull_request:
  workflow_dispatch:
jobs: 
  Build_and_Deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
  
      - name: setup-JDK-1.8
        uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: '8'

      - name: Install Maven
        run: sudo apt install maven -y

      - name: Build Maven
        run: mvn clean install

      - name: Deploy War to Tomcat
        run: |
                WAR_FILE=$(ls gameoflife-web/target/*.war| head -n 1)
                APP_NAME=gameoflife
                curl -u "${{ secrets.TOMCAT_USERNAME }}:${{ secrets.TOMCAT_PASSWORD }}" \
                --upload-file "$WAR_FILE" \
                  "http://${{ secrets.TOMCAT_HOST }}:8081/manager/text/deploy?path=/$APP_NAME&update=true"
              
      
  
    
  
